<div>
  <h1 class="h1-lg h1-center wt-txt">Welcome to <span class="pacifico">Early Bird</span></h1>

  <%= if !@conn.assigns.user do %>
    <p class="caption medium"><%= link "Sign up", to: user_path(@conn, :new) %> to start your search.</p>
  <% else %>
    <p class="caption medium">Start your <%= link "search", to: "https://early-bird-react-js.herokuapp.com/" %></p>    
  <% end %>
</div>
